<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkunigdwx/image/upload/v1498062409/pde/buterus.jpg');">
  <div class="card-category">Manager</div>
  <div class="card-description">
    <h2>Butérus</h2>
    <p>Directeur Tatouages, Piercings et RH</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
